<div class="wrapper">
	<top-dir></top-dir>
	<side-dir></side-dir>
	<div class="content">
		<div class="container" >
			<h3 class="Emp_mar_top">Import CSV</h3>
			<div class="addEmployeelabel">
				<div class="col-md-offset-2 col-md-8">
					<div class="alert alert-info">
					  To add a new Employee in OJAS HR please complete the form below.
					</div>
					<div class="text well">
						<h3>Select CSV</h3>
						<input type="file" class="form-control">
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary pull-right">Upload</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>