<div class="modal-header">
 <h3 class="modal-title" id="modal-title">Salary Amount</h3>
</div>
<div class="modal-body" id="modal-body">

							<table class="table table-bordered ">
			
								<tr>
									<th>Starting Date</th>
									<th>Ending Date</th>
									<th>Salary Amount</th>
								</tr>
			
								
								<tr>
									<td>Septemeber</td>
									<td>March</td>
									<td>5000</td>
								</tr>
								
								<tr>
									<td>April</td>
									<td>September</td>
									<td>10000</td>
								</tr>
								<tr>
									<td>October</td>
									<td>September</td>
									<td>20000</td>
								</tr>
							</table>
</div>
<div class="modal-footer">
 <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
 <button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>

</div>