<div class="wrapper">
	<top-dir></top-dir>
		<side-dir></side-dir>
		<div class="content">
				<div class="container">
					<div class="col-md-offset-2 col-md-8">
						<div class="Emp_mar_top addEmployeelabel">
							<div class="form-horizontal">
								<h3 style="color:#192766">Budget</h3>
								<div class="form-group Emp_mar_top">
									<label for="costCenter" class="control-label col-md-3"> Budget : </label>
									<div class="col-md-9">
										<input type="number" class='form-control' ng-model="budgetPostList.budget" >
									</div>
								</div>
								<div class="form-group">
									<label for="costCenter" class="control-label col-md-3"> GST : </label>
									<div class="col-md-9">
										<input type="number" class='form-control' ng-model="budgetPostList.gst">
									</div>
								</div>
								
							</div>
							<button type="button" class="btn btn-primary pull-right Emp_mar_top" ng-click="budgetPost()">Save</button>
						</div>
					</div>
				</div>
		</div>
</div>