<div class="wrapper">
	<top-dir></top-dir>
		<side-dir></side-dir>
		<div class="content">
				<div class="container">
				<div class="col-md-offset-2 col-md-8">
					<div class="Emp_mar_top addEmployeelabel">
						<h3 class="head_change">Business Unit</h3>
							<div class="btn_mar_top">
							<form  name="bu">
							<div class="form-group row">
								<label for="businessU" class="control-label col-md-3"> Business Unit :<span style="color:Red"> * </span> </label>
								<div class="col-md-9">
									<input type="text" class="form-control" ng-model="nameOfBusinessUnit" name="businessunit" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Enter Business unit" required/>
									<div class="has-error" ng-show="bu.businessunit.$dirty" >
					                   <span  style="color:Red"  ng-if="bu.businessunit.$error.required && bu.businessunit.$dirty">Business Unit is required </span>
							         <span  style="color:Red"  ng-show="bu.businessunit.$error.pattern">only strings are allowed</span>
					                  </div>
								</div>
							</div>
							<div class="form-group row">
								<label for="businessU" class="control-label col-md-3"> Cost Center :<span style="color:Red"> * </span> </label>
								
								
								<div class="col-md-9">
								
								<select class='form-control' ng-model="id" name="costcenter" ng-options="list.id as list.nameOfTheCostCenter for list in costlist" ng-change="costCenterList(id)" required>
								<option value="">Choose an option</option>
							  	</select>
							  	  <span  style="color:Red"  ng-if="bu.costcenter.$error.required && bu.costcenter.$touched">cost center name is required </span>
							  	</div>
							</div>
							</form>
							<div class="col-md-12">
									<button type="button" ui-sref="BusinessUnitTable" class="btn btn-primary btn_mar_top">Back</button>
								
									
									<button type="button" class="btn btn-primary pull-right btn_mar_top" ng-click="businessPostreq()" ng-disabled="bu.$invalid">Save</button>
							</div>
   								
						
					</div>
				</div>
		</div>
		
</div>