<div class="wrapper">
	<top-dir></top-dir>
		<side-dir></side-dir>
		<div class="content">
				<div class="container">
					<div class="col-md-offset-1 col-md-10">
						<div class="Emp_mar_top addEmployeelabel">
							<h3 class="head_change">Contract Period</h3>
							<div class="btn_mar_top">
							<form name="cPeriod">
								<div  class="form-group row">
									<label for="tag" class="control-label col-md-3"> Contract Period : <span style="color:Red">*</span></label>
									<div class="col-md-9">
										<div class="col-md-6">
										<input type="text" class="form-control" ng-model="postContract.contractPeriod" name="contract" placeholder="Enter Contract Period" required/>
										 <!-- <div class="has-error" ng-show="cPeriod.contract.$dirty" >
					                    	<span style="color:Red" class="error" ng-show="cPeriod.contract.$error.required"> Contract Period is Required !</span>
					                  	</div> -->
					                  	</div>
					                  	<div class="col-md-6">
					                  		<label class="radio-inline"><input type="radio"  value="year"  ng-model="postContract.periodFormat">Year</label>
											<label class="radio-inline"><input type="radio"  value="month"  ng-model="postContract.periodFormat">Month</label>
					                  	</div>
									</div>
								</div>
								
								</form>
								</div>
								<div class="col-md-12">
									<button type="button" ui-sref="contractPeriodTable" class="btn btn-primary btn_mar_top">Back</button>	
									<button type="button" class="btn btn-primary pull-right btn_mar_top" ng-click="contractPost()" ng-disabled="cPeriod.$invalid">Save</button>
								</div>
								
						</div>
					</div>
				</div>
			</div>
	</div>