<div class="wrapper">
	<top-dir></top-dir>
		<side-dir></side-dir>
		<div class="content">
				<div class="container">
					<div class="col-md-offset-2 col-md-8">
						<!-- <form name="cc"> -->
						<div class="Emp_mar_top addEmployeelabel">
							<h3 style="color:#192766">Cost Center</h3>
							<form class="Emp_mar_top" name="cc">
								<div class="form-group">
								<!-- <p style="color:Red">Required Field * </p> -->
								<label for="costCenter" class="control-label col-md-3"> Cost Center <span style="color:Red"> * </span>: </label>
								<!-- <label for="costCenter" class="control-label col-md-3"> Cost Center : </label> -->
								<div class="col-md-9">
									<input ng-minlength="4" ng-maxlength="5" type="number" class="form-control" ng-model="costCenter.nameOfTheCostCenter" name="costcenter"  required/>
									<!--  <div class="has-error" ng-show="cc.costcenter.$dirty" >
					                    <span style="color:Red" class="error" ng-show="cc.costcenter.$error.required"> Enter Only Numbers</span>
					                  </div> -->
					                  
					                   <!-- <span class="error-message" ng-show="showMessage(cc.costcenter)"> cost center sholud not be empty </span> -->								
								<span style="color:red" ng-show="cc.costcenter.$dirty && cc.costcenter.$invalid"/>
								<span style="color:Red"  ng-if="cc.costcenter.$error.required && cc.costcenter.$dirty">cost center is required</span>
								<span style="color:red" ng-show="cc.costcenter.$error.minlength || cc.costcenter.$error.maxlength">Cost Center Should Be 4 Digits.</span>
								</div>
							</div>
							</form>
							<button type="button" class="btn btn-primary pull-right Emp_mar_top" ng-click="costAddList()" ng-disabled="cc.$invalid">Save</button>
							<button type="button" class="btn btn-primary pull-left Emp_mar_top" ui-sref="costCenterTable">Back</button>
								
						</div>
					<!-- 	</form> -->
						<!-- <div ng-show="showMe" class="alert alert-info">{{status}}</div> -->
					</div>
				</div>
		</div>
</div>