<div class="wrapper">
	<top-dir></top-dir>
		<side-dir></side-dir>
		<div class="content">
				<div class="container">
					<div class="col-md-offset-2 col-md-8">
						<div class="Emp_mar_top addEmployeelabel" name="cr">
							<h3 class="head_change">Cost Ratio</h3>
							<div class="btn_mar_top">
							<form name="contacttype">
								<div  class="form-group row">
									<label for="tag" class="control-label col-md-3"> Cost Ratio : <span style="color:Red">*</span></label>
									<div class="col-md-9">
										<input type="text" class="form-control" ng-model="costRatioP.costRatio" name="model" placeholder="Enter costRatio"  name="costR" required/>
										 <div class="has-error" ng-show="cr.costR.$dirty" >
					                    	<span style="color:Red" class="error" ng-show="cr.costR.$error.required"> Cost Ratio is Required !</span>
					                  	</div>
									</div>
								</div>
								
								</form>
								</div>
								<div class="col-md-12">
									<button type="button" ui-sref="costRatioTable" class="btn btn-primary btn_mar_top">Back</button>	
									<button type="button" class="btn btn-primary pull-right btn_mar_top" ng-click="costRatioReq()" ng-disabled="cr.$invalid">Save</button>
								</div>
								
						</div>
					</div>
				</div>
			</div>
	</div>