<div class="wrapper">
	<top-dir></top-dir>
	<side-dir></side-dir>
	<div class="content">
		<div class="container">
			<div class=" btn_mar_top ">
			<div class="row">
				<h3 class="pull-left" style="color: #192766; margin-top: 0px;">Add
					Employee </h3>
			</div>
			<div class="addEmployeelabel ">
				<form class="form-horizontal" name="ae">
								<div class="form-group  ">
								    <label class="control-label col-sm-2" >Employee Id:<span style="color:Red"> * </span></label>
								    <div class="col-sm-6">
								      <input type="text" class="form-control" ng-model="employee.employeeId" name="empid" id="eid" ng-pattern="/^[0-9]/" placeholder="Employee Id" required>
								      <span  style="color:Red"  ng-if="ae.empid.$error.required && ae.empid.$dirty">employee id is required </span>
							          <span  style="color:Red"  ng-show="ae.empid.$error.pattern">enter valid id</span>
								    </div>
							  	</div>
							  	<div class="form-group">
								    <label class="control-label col-sm-2" for="employee">Full Name:<span style="color:Red"> * </span></label>
								    
							  	<div class="col-md-6">
							  	
									  <div class="col-md-4">
									    <div >
									      <input type="text" class="form-control" ng-model="employee.firstName" placeholder="First name" name="empfn"  ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Full name" required/>
									         <span  style="color:Red"  ng-if="ae.empfn.$error.required && ae.empfn.$dirty">first name is required </span>
							           		 <span  style="color:Red"  ng-show="ae.empfn.$error.pattern">only strings are allowed</span>
									    </div>
									  </div><!-- /.col -->
									  <div class="col-md-4">
									    <div >
									      <input type="text" class="form-control" ng-model="employee.middleName" placeholder="middle name " />(optional)
									    </div>
									  </div><!-- /.col -->
									  <div class="col-md-4">
									    <div >
									      <input type="text" class="form-control" ng-model="employee.lastName" placeholder="Last name" name="empln"  ng-pattern="/^[a-zA-Z\s]*$/" placeholder="last name" required/>
									       <span  style="color:Red"  ng-if="ae.empln.$error.required && ae.empln.$dirty">last name is required </span>
							           		 <span  style="color:Red"  ng-show="ae.empln.$error.pattern">only strings are allowed</span>
									    </div>
									  </div><!-- /.col -->
									</div><!-- /.row -->
							  	</div>
								<div class="form-group">
								    <label class="control-label col-md-2" for="employee">Employee Name:<span style="color:Red"> * </span></label>
								    <div class="col-sm-6">
								      <input type="text" class="form-control" ng-model="employee.employeeName" id="jobtitle"  name="empname"  placeholder="Employee name" required />
								          <span  style="color:Red"  ng-if="ae.empname.$error.required && ae.empname.$dirty">last name is required </span>
							           	 
								    </div>
								</div>
								
								<div class="row">
								<div class="form-group col-md-6 ">
									<label class="control-label col-md-4" for="employee">Employee:<span style="color:Red"> * </span></label>
								 	<div class="col-md-6">
										<label class="radio-inline">
									      <input type="radio" ng-model="employee.fresher" ng-value="true"  name="empty"   required />fresher
									       <span  style="color:Red"  ng-show="ae.empty.$error.required && ae.empty.$dirty">employee type is required </span>
					                   
									    </label>
									    
									</div>
								</div>
								<div class="form-group col-md-6">
								    <label class="control-label col-md-4" for="employee"> Date of Joining:<span style="color:Red"> * </span></label>
								    <div class="col-md-6">
								      <input type="date" class="form-control" ng-model="employee.dateOfJoining"  name="datej"   required/>
								        <span style="color:Red"  ng-show="ae.datej.$error.required && ae.datej.$touched">select date of joining</span>
								    </div>
								</div>
								</div>
								
								<div class="row">
								
								<div class="form-group col-md-6">
								    <label class="control-label col-md-4" for="employee"> Date of Birth:<span style="color:Red"> * </span></label>
								    <div class="col-md-6">
								      <input type="date" class="form-control" ng-model="employee.dateOfBirth"  name="dateb" required/>
								       <span style="color:Red"  ng-show="ae.dateb.$error.required && ae.dateb.$touched">select date of Birth</span>
								    </div>
								</div>
								<div class="form-group col-md-6">
								    <label class="control-label col-md-4" for="employee">Business Unit:<span style="color:Red"> * </span></label>
								    <div class="col-md-6">
								     <select class='form-control' ng-model="employee.businessUnit.id"  ng-options="detail1.id as detail1.nameOfBusinessUnit for detail1 in budetails" ng-change="subbusunit(employee.businessUnit.id)" name="busin" required>
								    	<option value="">Choose an option</option>
							  			</select>
							  			
						                    <span style="color:Red"  ng-show="ae.busin.$error.required && ae.busin.$touched">Business Unit is Required!</span>
						               
								    </div>
								</div>
								</div>
								<div class="row">
								<div class="form-group col-md-6">
								    <label class="control-label col-md-4" for="employee">Sub business Unit :<span style="color:Red"> * </span></label>
								    <div class="col-md-6">
								      <select class='form-control' ng-model="employee.subBusinessUnit.id"  ng-options="detail.id as detail.subBusinessUnitName for detail in list" ng-change="teamBusunit(employee.subBusinessUnit.id)" name="subusin" required>
							  			<option value="">Choose an option</option>
							  			</select>
							  			 <span style="color:Red"  ng-show="ae.subusin.$error.required && ae.subusin.$touched">Subbusiness Unit is Required!</span>
								    </div>
								</div>
								<div class="form-group col-md-6">
								  	<label for="employee" class="control-label col-md-3">Team:<span style="color:Red"> * </span></label>
								  	<div class="col-md-6">
											<select class='form-control' ng-model="employee.team.id" ng-options="detail.id as detail.nameOfTheTeam for detail in lis"  ng-change="teamdesig(employee.team.id)" name="team" required>
								  			<option value="">Choose an option</option>
								  			</select>
							  			 <span style="color:Red"  ng-show="ae.team.$error.required && ae.team.$touched">team is Required!</span>
									</div>
								</div>
								</div>
								<div class="row">
								<div class="form-group col-md-6">
								  	<label for="employee" class="control-label col-md-4">Designation:<span style="color:Red"> * </span></label>
								  	<div class="col-md-6">
										<select class='form-control' ng-model="employee.designation.id"   ng-options="detail.id as detail.designation for detail in deslis" name="desig" required >
										<option value="">Choose an option</option>
										</select>
										<span style="color:Red"  ng-show="ae.desig.$error.required && ae.desig.$touched">designation is Required!</span>
									</div>
								</div>
								<div class="form-group col-md-6">
								  	<label for="employee" class="control-label col-md-3">Resource:<span style="color:Red"> * </span></label>
								  	<div class="col-md-6">
										 <select class="form-control" ng-model="employee.resourceType.id" ng-options="detail.id as detail.resourceType for detail in resourceList" ng-change="getList(employee.resourceType.id)" name="resource" required>
										<option value="">Choose an option</option>
										</select> 
										<span style="color:Red"  ng-show="ae.resource.$error.required && ae.resource.$touched">resource is Required!</span>
									</div>
								</div>
								</div>
								<div class="row">
								<div class="form-group col-md-6">
								    <label class="control-label col-md-4" for="employee">Bond Type:<span style="color:Red"> * </span></label>
								    <div class="col-md-6"> 
								       <select class="form-control" ng-model="employee.bondType.id" ng-options="detail.id as detail.bondType for detail in getBondlist" ng-change="getBondType(employee.bondType.id)" name="bond" required>
										<option value="">Choose an option</option>
										</select> 
										<span style="color:Red"  ng-show="ae.bond.$error.required && ae.bond.$touched">bond is Required!</span>
								    </div>
							  	</div>
								<div class="form-group col-md-6 ">
								  	<label for="employee" class="control-label col-md-3">Maritial status:<span style="color:Red"> * </span></label>
								  	<div class="col-md-6">
										<select class="form-control" ng-model="employee.maritalStatus" id="team" name="maratial" required>
										<option>single</option>
										<option>married</option>
										<option>Devorse</option>
										</select>
										<span style="color:Red"  ng-show="ae.maratial.$error.required && ae.maratial.$touched">marital status is Required!</span>
									</div>
								</div>
								</div>
								<div class="row">
								<div class="form-group col-md-6">
								    <label class="control-label col-md-4" for="employee">Father Name:<span style="color:Red"> * </span></label>
								    <div class="col-md-6"> 
								      <input type="text" class="form-control" ng-model="employee.fatherName"  name="faname" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Father name" required / >
								       
						                     <span  style="color:Red"  ng-if="ae.faname.$error.required && ae.faname.$dirty">Father name is required </span>
							           		 <span  style="color:Red"  ng-show="ae.faname.$error.pattern">only strings are allowed</span>
						                  
								    </div>
							  	</div>
							  	<div class="form-group col-md-6">
								    <label class="control-label col-md-3" for="employee">Mother Name:<span style="color:Red"> * </span></label>
								    <div class="col-md-6"> 
								      <input type="text" class="form-control" ng-model="employee.motherName"    placeholder="Mother name" name="mname" ng-pattern="/^[a-zA-Z\s]*$/"  ng-required="true" >
						                    <span  style="color:Red"  ng-if="ae.mname.$error.required && ae.mname.$dirty">Mother name is a required</span>
							           		 <span  style="color:Red"  ng-show="ae.mname.$error.pattern">only strings are allowed</span>
								    </div>
							  	</div>
							  	</div>
							  	<div class="row">
									<div class="form-group col-md-6">
							  		<label class="control-label col-md-4" for="employee">Official EmailId:<span style="color:Red"> * </span></label>
							  		<div class="col-md-6">
										<input name="oemail" class="form-control"  ng-model="employee.officialMailId" id="eml" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true"  placeholder="Email" >
							            <span  style="color:Red"  ng-if="ae.oemail.$error.required && ae.oemail.$dirty">Email is a required field</span>
							            <span   style="color:Red"  ng-show="ae.oemail.$error.pattern">Invalid Email</span>
							            </div>
									</div>
							  		
							  		<div class="form-group col-md-6">
								    <label class="control-label col-md-3" for="employee">Personal EmailId:<span style="color:Red"> * </span></label>
								    <div class="col-sm-6"> 
								      <input type="email" class="form-control" ng-model="employee.personnelMailId" id="pemail" name="pemail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true"  placeholder="personal Email" >
								       <span  style="color:Red"  ng-if="ae.pemail.$error.required && ae.pemail.$dirty">Email is a required field</span>
							           <span  style="color:Red"  ng-show="ae.pemail.$error.pattern">Invalid Email</span>
								    </div>
							  	</div>
							  	</div>
							  	<div class="row">
							  		<div class="form-group col-md-6">
								    <label class="control-label col-md-4" for="employee">contactNo:<span style="color:Red"> * </span></label>
								    <div class="col-md-6">
								      <input type="text" class="form-control" ng-model="employee.employeeContactNo" name="contact" ng-pattern="/^\+?\d{10}$/" ng-required="true"  placeholder="contact no">
								      <span style="color:Red"  ng-if="ae.contact.$error.required && ae.contact.$dirty">Contact number is a required field</span>
                                      <span style="color:Red" ng-show="ae.contact.$error.pattern">Please enter a 10 digit number</span>
								    </div>
								     </div>
								     <div class="form-group col-md-6">
								    <label class="control-label col-md-3" for="employee">emergency contactNo:<span style="color:Red"> * </span></label>
								    <div class="col-md-6">
								      <input type="text" class="form-control" ng-model="employee.parentContactNumber" name="econtact" ng-pattern="/^\+?\d{10}$/" ng-required="true"  placeholder="contact no" >
								      <span style="color:Red"  ng-if="ae.econtact.$error.required && ae.econtact.$dirty">Contact number is a required field</span>
                                      <span style="color:Red" ng-show="ae.econtact.$error.pattern">Please enter a 10 digit number</span>
								    </div>
								     </div>
								 </div>
									  <legend>KYE:</legend>
									  <div class="row">
										<div class="form-group col-md-6">
									    <label class="control-label col-md-4" for="employee">Pan Number:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.kyc.panNumber" name="pancard" ng-pattern="/^[A-Za-z]{5}\d{4}[A-Za-z]{1}$/" ng-required="true" placeholder="pancard"  >
									      <span style="color:Red"  ng-if="ae.pancard.$error.required && ae.pancard.$dirty">pancard  is required</span>
                                         <span style="color:Red" ng-show="ae.pancard.$error.pattern">PAN CARd is not valid</span>
									    </div>
								  	   </div>
									  <div class="form-group col-md-6">
									    <label class="control-label col-md-3" for="employee">Adhar Number:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.kyc.adharNumber" name="adhar" ng-pattern="/[0-9]{12}/" ng-required="true"  placeholder="adhar number" >
									      <span style="color:Red"  ng-if="ae.adhar.$error.required && ae.adhar.$dirty">Adhar number is required</span>
                                         <span style="color:Red" ng-show="ae.adhar.$error.pattern">Please Enter the 12 digit aadhar number</span>
									    </div>
							  	      </div>
							  	      </div>
							  	      <div class="row">
									  <div class="form-group col-md-6">
									    <label class="control-label col-md-4" for="employee">Passport Number:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.kyc.passport.passportNumber" ng-pattern="/^([A-PR-WY]){1}([1-9]){1}([0-9]){5}([1-9]){1}$/" name="passport" placeholder="passport" required />
									      <span style="color:Red"  ng-if="ae.passport.$error.required && ae.passport.$dirty">passport is required</span>
                                         <span style="color:Red" ng-show="ae.passport.$error.pattern">Please Enter valid passport number</span>
									    </div>
							  	      </div>
							  	      <div class="form-group col-md-6">
									    <label class="control-label col-md-3" for="employee">Name in Passport:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.kyc.passport.nameInPassport" id="passport" name="passportn" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="enter name in passport" required>
									      <span style="color:Red"  ng-if="ae.passportn.$error.required && ae.passportn.$dirty">passport is required</span>
                                         <span style="color:Red" ng-show="ae.passportn.$error.pattern">only strings are allowed</span>
									    </div>
							  	      </div>
							  	      </div>
							  	      <div class="row">
							  	      <div class="form-group col-md-6">
									    <label class="control-label col-md-4" for="employee"> Date of issue:<span style="color:Red"> * </span></label>
									    <div class="col-md-6">
									      <input type="date" class="form-control" ng-model="employee.kyc.passport.dateOfIssue"  name="datei"  required>
									      
					                    <span style="color:Red"  ng-show="ae.datei.$error.required && ae.datei.$touched">select date of issue</span>
					                
									    </div>
										</div>
										<div class="form-group col-md-6">
									    <label class="control-label col-md-3" for="employee"> Date of Expiry:<span style="color:Red"> * </span></label>
									    <div class="col-md-6">
									      <input type="date" class="form-control" ng-model="employee.kyc.passport.dateOfExpiry"  name="datee" required>
					                    <span style="color:Red"  ng-show="ae.datee.$error.required && ae.datee.$touched">select date of expiry</span>
									    </div>
									</div>
							  	   </div>
							  	   <div class= "row">
							  	   <div class="col-md-6">
							  	    <legend>Current Address:</legend>
							  	    <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Address 1:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.currentAddress.address1" id="address" name="caddress1"  placeholder="enter Address1" required/>
									       <span  style="color:Red"  ng-show="ae.caddress1.$error.required && ae.caddress1.$dirty">Address is required </span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Address 2:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.currentAddress.address2" id="address" name="caddress2"  placeholder="enter Address2" required/>
									       <span  style="color:Red"  ng-show="ae.caddress2.$error.required && ae.caddress2.$dirty">Address is required </span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Address 3:</label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.currentAddress.address3" id="address" name="caddress3"  placeholder="enter Address3" />
									       <span  style="color:Red"  ng-show="ae.caddress3.$error.required && ae.caddress3.$dirty">Address is required </span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">City:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.currentAddress.city" id="address"  name="cityc" ng-pattern="/^[a-zA-Z\s]*$/" ng-required="true"  placeholder="enter city" />
									      <span style="color:Red"  ng-if="ae.cityc.$error.required && ae.cityc.$dirty">Adhar number is required</span>
                                         <span style="color:Red" ng-show="ae.cityc.$error.pattern">Please Enter valid city</span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">State:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.currentAddress.state" id="address" name="statec"  ng-pattern="/^[a-zA-Z\s]*$/" ng-required="true" placeholder="enter state" required/>
									      <span style="color:Red"  ng-if="ae.statec.$error.required && ae.statec.$dirty">state is required</span>
                                         <span style="color:Red" ng-show="ae.statec.$error.pattern">Please Enter valid state</span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Pincode:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.currentAddress.pincode"  name="cpincode" ng-pattern="/^[1-9][0-9]{5}$/" ng-required="true" placeholder="pincode">
									      <span style="color:Red"  ng-if="ae.cpincode.$error.required && ae.cpincode.$dirty">pincode  is required</span>
                                         <span style="color:Red" ng-show="ae.cpincode.$error.pattern">pincode is not valid</span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Country:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.currentAddress.country" id="address" name="countryc" name="cpincode" ng-pattern="/^[a-zA-Z\s]*$/" ng-required="true"  placeholder="enter country"/ >
									      <span style="color:Red"  ng-if="ae.countryc.$error.required && ae.countryc.$dirty">country is required</span>
                                         <span style="color:Red" ng-show="ae.countryc.$error.pattern">Please Enter valid country</span>
									    </div>
							  	      </div>
							  	      
							  	      </div>
							  	      <div class="col-md-6">
							  	    <legend>Permanent Address:</legend>
							  	    <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Address 1:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.permanentAddress.address1" id="address" name="paddress1"  ng-required="true"  placeholder="Address1">
									       <span  style="color:Red"  ng-show="ae.paddress1.$error.required && ae.paddress1.$dirty">Address1 is required </span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Address 2:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.permanentAddress.address2" id="address" name="paddress2"  ng-required="true"  placeholder="Address2">
									       <span  style="color:Red"  ng-show="ae.paddress2.$error.required && ae.paddress2.$dirty">Address2 is required </span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Address 3:</label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.permanentAddress.address3" id="address" name="paddress3"   placeholder="Address3" required >
									      <span  style="color:Red"  ng-show="ae.paddress3.$error.required && ae.paddress3.$dirty">Address3 is required </span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">City:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.permanentAddress.city" id="address"  name="cityp" ng-pattern="/^[a-zA-Z\s]*$/" ng-required="true"  placeholder="enter city">
									      <span style="color:Red"  ng-if="ae.cityp.$error.required && ae.cityp.$dirty">city is required</span>
                                         <span style="color:Red" ng-show="ae.cityp.$error.pattern">Please Enter valid city</span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">State:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.permanentAddress.state" id="address" name="statep" ng-pattern="/^[a-zA-Z\s]*$/" ng-required="true"  placeholder="enter state" >
									      <span style="color:Red"  ng-if="ae.statep.$error.required && ae.statep.$dirty">state is required</span>
                                         <span style="color:Red" ng-show="ae.statep.$error.pattern">only strings are allowed</span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Pincode:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.permanentAddress.pincode"  name="ppincode" ng-pattern="/^[1-9][0-9]{5}$/" ng-required="true"  placeholder="pincode"  >
									      <span style="color:Red"  ng-if="ae.ppincode.$error.required && ae.ppincode.$dirty">pincode is required</span>
                                         <span style="color:Red" ng-show="ae.ppincode.$error.pattern">pincode is not valid</span>
									    </div>
							  	      </div>
							  	      <div class="form-group">
									    <label class="control-label col-md-3" for="employee">Country:<span style="color:Red"> * </span></label>
									    <div class="col-md-6"> 
									      <input type="text" class="form-control" ng-model="employee.permanentAddress.country" id="address" name="countryp" ng-pattern="/^[a-zA-Z\s]*$/" ng-required="true"  placeholder="enter country" >
									      <span style="color:Red"  ng-if="ae.countryp.$error.required && ae.countryp.$dirty">country name is required</span>
                                         <span style="color:Red" ng-show="ae.countryp.$error.pattern">only strings are allowed</span>
									    </div>
							  	      </div>
							  	      
							  	      </div>
							  	   </div>
								 
								
								<div class="clearfix"></div>

							</form>
							
   
	
							
				 <div class="col-md-12">
				 <button type="button" ui-sref="employeeTable" class="btn btn-primary btn_mar_top">Back</button>
				
					<button type="button" class="btn btn-primary pull-right btn_mar_top" ng-click="employeeAddreq()" ng-disabled="ae.$invalid">Save</button>
				</div>
				 
			</div>
			
		</div>
	</div>
	</div>
</div>
