			<div class="wrapper">
	<top-dir></top-dir>
		<side-dir></side-dir>
		<div class="content">
				<div class="container">
					<div class="col-md-offset-2 col-md-8">
						<div class="Emp_mar_top addEmployeelabel">
							<h3 class="head_change">location</h3>
							<div class="btn_mar_top">
						
							<form name="loc" >
							<div class="form-group  row">
					               <label for="custom" class="control-label col-md-3">Edit location : </label>
									   <div class="col-md-9">
										   <input type="text" class="form-control" ng-model="locatlist.locationName" name="location" ng-pattern="/^[a-zA-Z\s]*$/" required/>
										  <div class="has-error" ng-show="loc.location.$dirty" >
										  <span style="color:Red" class="error" ng-show="loc.location.$error.required">location is Required!</span>
										  <span style="color:Red" ng-show="loc.$dirty && loc.location.$invalid">Only Strings Are Allowed. </span>
									      </div>
								      </div>
							</div>
							</form>
							
							<div class="col-md-12">
									<button type="button" ui-sref="locationTable" class="btn btn-primary btn_mar_top">Back</button>
								
									<button type="button" class="btn btn-primary pull-right btn_mar_top"  ng-click="locationgetid()">Reset</button>
									<button type="button" class="btn btn-primary pull-right btn_mar_top" ng-click="locEdit()" ng-disabled="loc.$invalid">Update</button>
								</div>
						
   							
						
					</div>	
				</div>
		</div>
		</div>
</div>