<div class="wrapper">
	<top-dir></top-dir>
	<side-dir></side-dir>
	<div class="content">
		<div class="container">
			<div class="col-md-offset-2 col-md-8">
				<div class="Emp_mar_top addEmployeelabel">
					<form class="form-horizontal" name="ptype">
						<h3 style="color: #192766">Project Type</h3>
						<div class="btn_mar_top">
							<div class="form-group">
								<label for="project" class="control-label col-md-3">
									ProjectType Name <span style="color: Red"> * </span>:
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control"
										ng-model="pjtIdDetails.projectTypeName" required />
								</div>
							</div>
							<div class="form-group">
								<label for="project" class="control-label col-md-3">
									Short Name <span style="color: Red"> * </span>:
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control"
										ng-model="pjtIdDetails.projectTypeShortName" required />
								</div>
							</div>
						</div>
					</form>
					<button type="button" class="btn btn-primary  btn_mar_top"
						ui-sref="projectType">Back</button>
					<button type="button" class="btn btn-primary pull-right  btn_mar_top"
						ng-click="getById()">Reset</button>

					<button type="button"
						class="btn btn-primary pull-right btn_mar_top"
						ng-disabled="ptype.$invalid" ng-click="projectEditList()"
						ui-sref="projectType">Update</button>
				</div>
			</div>
		</div>
	</div>
</div>
