<div class="wrapper">
    <nav class="side scrollbar-black bordered-black square scrol">
           <ul class="list-unstyled components">
              <li class="active"><a href="" data-target="#homeSubmenu" data-toggle="collapse"  aria-expanded="false">Master Dashboard</a>
                     <ul class="nav navbar-nav list-unstyled li_change collapse" id="homeSubmenu">
                         <li><a ui-sref="costCenterTable"><span class="icon_change"><i class="fa fa-usd icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Cost Center</span></a></li>
				         <li><a ui-sref="BusinessUnitTable"><span class="icon_change"><i class="fa fa-signal icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Business Unit</span></a></li>
				         <li><a ui-sref="subBusinessUnit"><span class="icon_change"><i class="fa fa-sitemap icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Sub Business Unit</span></a></li>
				         <li><a ui-sref="designationTable"><span class="icon_change"><i class="fa fa-graduation-cap icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Designation</span></a></li>
				         <li><a ui-sref="resourceTable"><span class="icon_change"><i class="fa fa-registered icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Resource Type</span></a></li>
				         <li><a ui-sref="contractPeriodTable"><span class="icon_change"><i class="fa fa-clock-o icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Contract Period</span></a></li>
				         <li><a ui-sref="bondTypeTable"><span class="icon_change"><i class="fa fa-file-text-o" aria-hidden="true"></i></span><span class="iconlabel_change">Bond Type</span></a></li>
				         <li><a ui-sref="projectType" ><span class="icon_change"><i class="fa fa-product-hunt icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Project Type</span></a></li>
                      </ul>
                  </li>
                   <li><a href="" data-target="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Customer</a>
                      <ul class="nav navbar-nav list-unstyled li_change collapse" id="pageSubmenu">
                         <li><a ui-sref="locationTable"><span class="icon_change"><i class="fa fa-map-marker icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">location</span></a></li>
						  <li><a ui-sref="bgvVendorTable"><span class="icon_change"><i class="fa fa-user-circle" aria-hidden="true"></i></span><span class="iconlabel_change">BGV Vendor</span></a></li>
				         <li><a ui-sref="bgvOwnerTable"><span class="icon_change"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span><span class="iconlabel_change">BGV Owner</span></a></li>
				         <li><a ui-sref="costRatioTable"><span class="icon_change"><i class="fa fa-inr" aria-hidden="true"></i></span><span class="iconlabel_change">Cost Ratio</span></a></li>
				         <li><a ui-sref="leavesAllowedTable"><span class="icon_change"><i class="fa fa-file-code-o icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Leaves Allowed</span></a></li>
				         <li><a ui-sref="billingModelTable"><span class="icon_change"><i class="fa fa-files-o icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Billing Model</span></a></li>
				         <li><a ui-sref="contactTypeTable"><span class="icon_change"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="iconlabel_change">Contact Type</span></a></li>
				         <li><a ui-sref="customerDefTable"><span class="icon_change"><i class="fa fa-file-code-o icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Customer</span></a></li>
				         <li><a ui-sref="customerContactTable"><span class="icon_change"><i class="fa fa-volume-control-phone icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Customer Contact</span></a></li>
				         <li><a ui-sref="customerAddressTable"><span class="icon_change"><i class="fa fa-address-book-o" aria-hidden="true"></i></span><span class="iconlabel_change">Customer Address </span></a></li>
				         <li><a ui-sref="customerAddressTypeTable"><span class="icon_change"><i class="fa fa-address-card-o	" aria-hidden="true"></i></span><span class="iconlabel_change">Address Type</span></a></li>
				        
				         
						 
	                  </ul>
                    </li>
                    <li><a href="" data-target="#employeeSubmenu" data-toggle="collapse" aria-expanded="false">Employee</a>
                        <ul class="nav navbar-nav list-unstyled li_change collapse" id="employeeSubmenu">
                             <li><a ui-sref="employeeTypeTable"><span class="icon_change"><i class="fa fa-black-tie icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Employee Type</span></a></li>
                             <li><a ui-sref="educationDetailsTable"><span class="icon_change"><i class="fa fa-book" aria-hidden="true"></i></span><span class="iconlabel_change">Education Details</span></a></li>
                             <li><a ui-sref="seperationTypeTable"><span class="icon_change"><i class="fa fa-expand" aria-hidden="true"></i></span><span class="iconlabel_change">Seperation Type</span></a></li>
							 <li><a ui-sref="basicinfo"><span class="icon_change"><i class="fa fa-user-plus icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Employee</span></a></li>
                        </ul>
                    </li>
                    <li><a href=""  data-target="#projectSubmenu" data-toggle="collapse" aria-expanded="false">Project</a>
                        <ul class="nav navbar-nav list-unstyled li_change collapse" id="projectSubmenu">
				         	<li><a ui-sref="projectCreationList"><span class="icon_change"><i class="fa fa-file-code-o icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Project</span></a></li>
				         	<li><a ui-sref="projectStatusTable"><span class="icon_change"><i class="fa fa-tasks icon_fa" aria-hidden="true"></i></span><span class="iconlabel_change">Project Status</span></a></li>
				         	<li><a ui-sref="proTechStackTable"><span class="icon_change"><i class="fa fa-stack-overflow" aria-hidden="true"></i></span><span class="iconlabel_change">Project Technical Stack</span>	</a></li>
                       </ul>
                    </li>
                    
                </ul>
    </nav>
</div>
 