<div class="wrapper">
	<top-dir></top-dir>
		<side-dir></side-dir>
		<div class="content">
				<div class="container">
					<div class="col-md-offset-2 col-md-8">
						<div class="Emp_mar_top addEmployeelabel">
							<h3 style="color:#192766">Team</h3>
							<div class="form-group Emp_mar_top">
								<label for="costCenter" class="control-label col-md-3"> Team : </label>
								<div class="col-md-9">
									<input type="text" class="form-control" ng-model="costCenter"/>
								</div>
							</div>
							<a ui-sref="teamTable"><button type="button" class="btn btn-primary pull-right Emp_mar_top">Save</button></a>
						</div>
					</div>
				</div>
		</div>
</div>