<div class="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top nav_change">
			<div class="container-fluid">
				 <div class="col-md-4">
			   		<img class="img-responsive imag_change" src="images/logo.png">
			   	</div>
			    <ul class="nav navbar-nav col-md-3 pull-right fon_chan">
			      <li> <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
			      <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span></a></li>
			      <li><a href="#"><img src="images/profile.jpg" class="img-circle" alt="Cinque Terre" width="27" height="27"> </a></li>
			      <span class="span_change">Phaniraj Jaligama</span>
			    </ul>
			   
			</div>
		</nav>
</div>